*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
}

#game {
  width: 810px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 5px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header {
  height: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.content {
  height: 400px;
}
.header__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 160px;
}
.header__item-title {
  color: #ff0054;
  font-weight: bold;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
}
.header__item-value {
  color: #555;
  font-weight: bold;
  height: 20px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.header__item-label {
  text-align: center;
  color: #999;
  height: 10px;
  font-size: 10px;
  line-height: 20px;
}
#jumps {
  font-size: 40px;
  color: #ff0054;
}
hr {
  margin: 4px 0;
  border: 3px solid #ccc;
  width: 100%;
}
#canvas {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.content {
  border: 5px solid #555;
  background: #fff;
  overflow: hidden;
}
#game.paused .content {
  border: 5px solid #ff0054;
}
#game.paused .header__item-value {
  color: #ddd;
}
#game.paused .header__item-label {
  color: #ddd;
}
#game.paused::after {
  position: absolute;
  left: 20px;
  top: 70px;
  font-size: 20px;
  content: '(click)';
  color: #999;
  letter-spacing: 2px;
}

.footer {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__item {
  padding-top: 5px;
  padding-right: 40px;
  font-size: 12px;
  color: #999;
}

p {
  padding: 5px 0;
  line-height: 20px;
}
a {
  color: #ff0054;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
