*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
html { font-size: 16px; }
body {
  font-family: 'avenir', 'avenir next', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F1F1F1;
}

.container {
  position: relative;
  max-width: 840px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  height: 35px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.header-group {
  flex: 1 1 100px;
  display: flex;
  align-items: center;
}
.header-item {
  flex: 1 0 100px;
  padding: 2.5px 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.header-item small {
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  line-height: 10px;
  height: 10px;
  padding: 0 4px;
}
.header h1 {
  color: #999;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  
  text-transform: uppercase;
  letter-spacing: 3px;
}
.header-item span {
  height: 20px;
  line-height: 20px;
  color: #999;
  font-size: 18px;
}
#jumps {
  line-height: 28px;
  font-size: 60px;
  width: 215px;
  color: #ff0054;
  letter-spacing: -10px;
}
.normal span {
  text-align: center;
}
.normal small {
  text-align: center;
}


#canvas {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.content {
  border: 5px solid #aaa;
  background: #fff;
  height: 450px;
  width: 800px;
  overflow: hidden;
  position: relative;
}
#game.paused::after, #game.victory::after, #game.gameover::after {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 160px 60px;
  top: 0;
  left: 0;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #999;
}
#game.paused::after {
  content: "Up-arrow to jump, down-arrow to dive.  Spacebar to start/stop";
}
#game.victory::after {
  content: "Well, you've reached the top!  Thanks for playing, feel free to press spacebar and go again";
}
#game.gameover::after {
  content: "Whoops, hit spacebar to try again";
}
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100px;
}
footer div {
  flex: 1 0 50%;
  width: 50%;
}
footer p {
  font-size: 12px;
  color: #999;
  padding: 2px 20px 4px 2px;
}
a {
  color: #ff0054;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
